/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

$custom-family: "Roboto", sans-serif;
@use "vuetify/settings" with (
    $body-font-family: $custom-family,
    $heading-font-family: $custom-family
);
