[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
gunicorn = "*"
loguru = "*"
firebase-admin = "*"
psycopg = {extras = ["c"], version = "*"}

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.10"
